<mat-toolbar color="primary" class="cursos-header">
  <div class="positronx"></div>
  <span class="nav-tool-items">
    <a mat-button type="button" (click)="onLogout()">Logout</a>
  </span>
</mat-toolbar>

<div class="main-wrapper" fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="center center">
    
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Curso 1</mat-card-title>
      </mat-card-header>
        <button mat-stroked-button color="accent" class="btn-block">Matricular</button>
    </mat-card>

    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Curso 2</mat-card-title>
        </mat-card-header>
          <button mat-stroked-button color="accent" class="btn-block">Matricular</button>
      </mat-card>

      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Curso 3</mat-card-title>
        </mat-card-header>
          <button mat-stroked-button color="accent" class="btn-block">Matricular</button>
      </mat-card>

      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Curso 4</mat-card-title>
        </mat-card-header>
          <button mat-stroked-button color="accent" class="btn-block">Matricular</button>
      </mat-card>

      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Curso 5</mat-card-title>
        </mat-card-header>
          <button mat-stroked-button color="accent" class="btn-block">Matricular</button>
      </mat-card>

      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Curso 6</mat-card-title>
        </mat-card-header>
          <button mat-stroked-button color="accent" class="btn-block">Matricular</button>
      </mat-card>

  </div>

  <router-outlet></router-outlet>